* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 25px;
  padding: 50px;
  cursor: pointer;
}
#grey {
  background-color: grey;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
h2 {
  text-align: center;
}
